.chart-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.sales-chart-container {
    display: flex;
    align-items: center;
}

.contract-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    justify-content: center;
    align-items: center;
}